NetWork/.idea
NetWork/build
NetWork/.vscode
NetWork/cmake-build-debug
DS_AG/build
DS_AG/.vscode
DS_AG/.idea
DS_AG/cmake-build-debug
QT/.idea
QT/cmake-build-debug
.idea/Code.iml
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea
